body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  color: black;
}

/* handles error messages */
.errors {
  color: red;
}
/* handles the look of the NavBar */
.navbar {
  background-color: white;
  color: black;
  margin: auto;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

/* handles the size of the ChatSpace in Navbar */
.nav-title {
  font-size: calc(10px + 2vmin);
  font-family: 'Helvetica Neue', sans-serif;
}

/* handles the navbar */
.nav-link {
  display: inline-block;
  width: auto;
  padding: 20px;
  margin: 0 6px 6px;
  background: none;
  font-size: 12px;
  text-decoration: line;
}

.words {
  color: black;
}

/* handles login/logout forms */
.form-login {
  padding: 150px;
  text-align: center;
  padding-bottom: 100px;
  color: black;
  display: block;
  height: 15em;
  line-height: 3.5;
}

.form-signup {
  padding: 150px;
  text-align: center;
  padding-bottom: 100px;
  color: black;
  display: block;
  height: 23em;
  line-height: 3.5;
}

.post-form {
  padding-top: 50px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.post-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.new-post {
  padding: 50px;
}

.post-input-description {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.box {
  width: 300px;
}

.box-2 {
  background-color: white;
  padding: 1rem;
  margin: 0.5rem;
  color: black;
  text-align: left;
}

.box-3 {
  display: flex;
  background-color: white;
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  color: black;
}

.chat-textarea {
  width: 80%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* handles the delete button */
.delete-btn {
  background: transparent;
  border: none;
  color: red;
} 

/* handles the edit button */
.edit-btn {
  background: transparent;
  border: none;
  color: black;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

.like-active {
  background-color: red;
}

.input-edit {
  background-color: #e8e8e8;
  border-radius: 1rem;
  padding: 10px;
  width: 600px;
}

.home {
  display: flex;
}

.home-box {
  margin: 1rem;
  text-align: center;

}

.box-home {
  background-color: #434343;
  width: auto;
  height: 30px;
  padding: 1rem;
  margin: 0.4rem;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
}

.box-comment {
  padding: .25rem;
  color: black;
  text-align: left;
}

.comment-div {
  margin: auto;
  padding: 10px;
  background-color: white;
}

.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.username-color {
  color: rgb(0, 0, 0);
}

.comment-textarea {
  background: transparent;
  width: 500px;
  padding: 5px;
  color: black;
}

.post-btn {
  background: transparent;
  color: white;
  border: 1px solid;
}

.error-b {
  color: black;
}

.login-btn {
  background-color: black;
  border: 1px solid black;
  color: white;
  width: 321px;
  padding: 3%;
}

.login-input {
  border: 1px solid rgb(163, 163, 163);
  padding: 3%;
  width: 300px;
}

.post-btn {
  border: 1px solid white;
  color: white;
  width: 600px;
  padding: 1.5%;
}

.post-bar {
  color: black;
  font-size: 5px;
}

.each-comment {
  background-color: #e8e8e8;
  border-radius: 1rem;
  padding: 10px;
  width: 600px;
}

.comment-input {
  background-color: #e8e8e8;
  border-radius: 1rem;
  padding: 10px;
  width: 600px;
  border: none;
}