<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Random Posts, <%= @user.name %></h1>.
    <p>
      You've signed up to Random Posts!
    </p>
    <p>Thanks for joining us!</p>
  </body>
</html>