<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Social Media Demo, <%= @user.name %></h1>.
    <p>
      This is to let you know that the ActiveMailer is working!
    </p>
    <p>Thank you for testing it out!</p>
  </body>
</html>